.center-box
  .content-box
    %h2 重发邮箱验证
    = devise_error_messages!
    .cell
      = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
        .field
          = f.label :login
          = f.email_field :login, :class => "text-input"
        .actions
          = f.submit "重发验证", :class => "btn"
      = render "devise/shared/links"
