= simple_form_for @user, :html => {:method => :put, :multipart => true} do |f|
  .form-group
    = image_tag(@user.avatar_url(:large)) if @user.avatar?
    %br/
    = f.label :avatar, "头像"
    = f.file_field :avatar
  .row
    .form-group.col-xs-3
      = f.input :username, label: '用户名', required: true, input_html:{ class: "form-control" }
  .row
    .form-group.col-xs-3
      = f.input :email, label: '邮箱', required: true, input_html:{ class: "form-control" }
  = f.submit "保存设置", class: "btn btn-warning btn-lg"
