.alert.alert-warning.form-inline
  %a.close{"aria-hidden" => "true", "data-dismiss" => "alert", :href => "#"} &times;
  = simple_form_for(@fm_income, remote: true) do |f|
    .form-group
      = f.input :amount, label: false, input_html: { class: "form-control", placeholder: "金额" }
    .form-group
      - if params[:action] == "new"
        = f.text_field :time, value: Time.now.strftime("%Y-%m-%d"), class: "datepicker form-control", required: "required"
      - elsif params[:action] == "edit"
        = f.text_field :time, value: @fm_income.time.strftime("%Y-%m-%d"), class: "datepicker form-control", required: "required"
    .form-group
      = f.association :company, label: false, input_html: { id: "select-company", class: "form-control", placeholder: "选择客户" }
    .form-group
      = f.input :note, label: false, input_html: { class: "form-control", placeholder: "备注" }
    = f.hidden_field :collection_id, value: @fm_income.collection_id
    = f.submit "提交", class: "btn btn-success"
