%h1
  到款
  \#{all_count_tag @fm_incomes}
  \#{render_cell :smartfinders, :form, klass: "到款", smartfinder: Smartfinder.new}
.alert.alert-info.form-inline
  = search_form_for @q, :builder => SimpleForm::FormBuilder do |f|
    .form-group
      = f.text_field :collection_name_cont, class:"form-control input-sm", placeholder: "收款计划名称"
    .form-group
      = f.text_field :collection_contract_company_name_cont, class:"form-control input-sm", placeholder: "客户名称"
    .form-group
      = f.text_field :note_cont, class:"form-control input-sm", placeholder: "备注"
    = f.submit "查询", class: "btn btn-success btn-sm"
%table.table.table-striped.table-hover
  %thead
    %tr
      %th= sort_link @q, :amount, "金额", {}, :method => action_name == 'incomes_advanced_search' ? :post : :get
      %th= sort_link @q, :time, "到款时间", {}, :method => action_name == 'incomes_advanced_search' ? :post : :get
      %th 收款计划
      %th 项目
      %th 客户
      %th 备注
      %th 操作
  %tbody
    - @fm_incomes.each do |income|
      = render partial: "fm/incomes/income", locals: { income: income }
.text-center
  = render partial: "layouts/page", locals: { objects: @fm_incomes }
