%tr{:id => "user-#{user.id}"}
  %td= user.id
  %td= image_tag(user.avatar_url(:mini))
  %td= link_to user.username, user
  %td= user.email
  %td= user_org_tag(user)
  %td= user_checking_level_tag(user)
  %td
    - if can? :manage, user
      = link_to "编辑", edit_user_path(user), class: "btn btn-warning btn-xs"
