%h1 属性管理
.row.clearfix
  .col-md-2.column
    .list-group
      = link_to "客户类型", properties_path(type: "company_categories"), class: "list-group-item " + active('company_categories', params[:type])
      = link_to "电话类型", properties_path(type: "phone_klasses"), class: "list-group-item " + active('phone_klasses', params[:type])
      = link_to "联系人类型", properties_path(type: "contact_categories"), class: "list-group-item " + active('contact_categories', params[:type])
      = link_to "联系人状态", properties_path(type: "contact_statuses"), class: "list-group-item " + active('contact_statusesvv', params[:type])
      = link_to "商机类型", properties_path(type: "deal_categories"), class: "list-group-item " + active('deal_categories', params[:type])
      = link_to "商机状态", properties_path(type: "deal_statuses"), class: "list-group-item " + active('deal_statuses', params[:type])
      = link_to "市场活动类型", properties_path(type: "activity_categories"), class: "list-group-item " + active('activity_categories', params[:type])
      = link_to "市场活动状态", properties_path(type: "activity_statuses"), class: "list-group-item " + active('activity_statuses', params[:type])
      = link_to "合同状态", properties_path(type: "contract_statuses"), class: "list-group-item " + active('contract_statuses', params[:type])
      = link_to "项目类型", properties_path(type: "plan_categories"), class: "list-group-item " + active('plan_categories', params[:type])
      = link_to "项目状态", properties_path(type: "plan_statuses"), class: "list-group-item " + active('plan_statuses', params[:type])
      = link_to "项目活动类型", properties_path(type: "projects_activities_categories"), class: "list-group-item " + active('projects_activities_categories', params[:type])
      = link_to "归档文件类型", properties_path(type: "attachments_categories"), class: "list-group-item " + active('attachments_categories', params[:type])
      = link_to "OA公告类型", properties_path(type: "oa_posts_categories"), class: "list-group-item " + active('oa_posts_categories', params[:type])
  .col-md-10.column
    - if params[:type].present?
      = render_cell :property, params[:type].to_sym
    - else
      %p 你可以在这里管理各个模块的属性
