%h1.clearfix
  联系人
  \#{all_count_tag @crm_contacts}
  \#{link_to '新增联系人', new_crm_contact_path, class: "btn btn-primary pull-right"}
  \#{render_cell :smartfinders, :form, klass: "联系人", smartfinder: Smartfinder.new}
.alert.alert-info.form-inline
  = search_form_for @q, :builder => SimpleForm::FormBuilder do |f|
    .form-group
      = f.text_field :name_cont, class:"form-control input-sm", placeholder: "姓名"
    .form-group
      = f.select :status_id_eq, options_from_collection_for_select(Crm::Contact::Status.all, "id", "name", @q.status_id_eq), { :prompt => "状态"}, { class: "form-control input-sm" }
    .form-group
      = f.select :category_id_eq, options_from_collection_for_select(Crm::Contact::Category.all, "id", "name", @q.category_id_eq), { :prompt => "类型"}, { class: "form-control input-sm" }
    .form-group
      = f.text_field :deals_count_gteq, class:"form-control input-sm", placeholder: ">=商机数量"
    .form-group
      = f.text_field :deals_count_lteq, class:"form-control input-sm", placeholder: "<=商机数量"
    = f.submit "查询", class: "btn btn-success btn-sm"
%table.table.table-striped.table-hover
  %thead
    %th= sort_link @q, :name, "名称", {}, :method => action_name == 'contacts_advanced_search' ? :post : :get
    %th 状态
    %th 类型
    %th 最新商机
    %th 最新活动
    %th 所属公司
    %th QQ
    %th 电话
    %th= sort_link @q, :updated_at, "更新于", {}, :method => action_name == 'contacts_advanced_search' ? :post : :get
    %th 操作
  %tbody
    - @crm_contacts.each do |contact|
      = render partial: "crm/contacts/contact", locals: { contact: contact }
.text-center
  = render partial: "layouts/page", locals: { objects: @crm_contacts }
