%p#notice= notice

%p
  %b Name:
  = @organization.name
%p
  %b Parent:
  = @organization.parent_id
%p
  %b Lft:
  = @organization.lft
%p
  %b Rgt:
  = @organization.rgt
%p
  %b Depth:
  = @organization.depth

= link_to 'Edit', edit_organization_path(@organization)
\|
= link_to 'Back', organizations_path
