%p#notice= notice

%p
  %b Name:
  = @crm_deal.name
%p
  %b Status:
  = @crm_deal.status_id
%p
  %b Category:
  = @crm_deal.category_id
%p
  %b Amount:
  = @crm_deal.amount
%p
  %b Company:
  = @crm_deal.company_id
%p
  %b Contact:
  = @crm_deal.contact_id
%p
  %b User:
  = @crm_deal.user_id
%p
  %b Time:
  = @crm_deal.time

= link_to 'Edit', edit_crm_deal_path(@crm_deal)
\|
= link_to 'Back', crm_deals_path
